@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:1200px) and (max-width: 1399px){
   
	
}
@media only screen and (min-width:1400px) and (max-width: 1600px){
    
	
}
@media only screen and (max-width:1366px){
	
}
@media only screen and (max-width:1199px){
	.site-header .navbar-nav > li > a{padding: 10px;}
	
}
@media only screen and (max-width:991px){
	.container > .navbar-collapse{
		padding: 0;
	}
	.site-header .navbar-brand{
		font-size: 36px;
		line-height: 36px;
		padding-left: 0; 
		padding-right: 0;
	}
	.site-header .navbar-nav > li > a {
		padding: 10px 7px;
		letter-spacing: normal;
	}
	.video-section .video-wrap{
		width: 100%; 
		height: 350px;
	}
	.inner-page .banner-txt-wrap .txt-inner{
		padding-left: 0;
	}
	.reach-us{
		margin-left: 0;
	}
	.contact-col > li .inr-cont{
		padding: 20px 0 20px 20px;
	}

}

@media only screen and (max-width:767px){
	.navbar-toggle{
		color: #333;
		color: #333; 
		border: 1px solid #333;
	}
	.navbar-toggle .icon-bar{
		background-color: #333;
	}
	.site-header .fix-width .dropdown-menu:after{
		display: none;
	}
	.nav > li{
		border-bottom: 1px solid #f2f2f2;
	}
	.nav > li.dropdown:after{
		position: absolute;
	    content: "+";
	    right: 5px;
	    top: 10px;
	    font-size: 16px;
	    font-weight: 300;
	    color: #333;
	}
	.site-header .navbar-brand {
		padding-left: 15px;
		line-height: 36px;
	}
	.container > .navbar-collapse {
		padding: 0 15px;
	}
	.site-header .navbar-nav{
		margin: 0;
	}
	.site-header .navbar-nav > li.full-width > .dropdown-menu{
		padding: 15px 0;
	}
	.dropdown-menu .nav-col{
		width: 100%;
	}
	.dropdown-menu .container {
		padding-left: 15px;
	}
	.dropdown-menu .nav-block{
		max-width: 100%; 
		text-align: left;
	}
	.dropdown-menu .nav-block .icon-holder { 
		width: 40px;
		height: 40px;
		float: left; 
		margin-right: 15px;
	}
	.dropdown-menu .nav-block h4{
		font-size: 16px; 
		margin-bottom: 5px;
	}
	.video-section .video-wrap{ 
		height: 250px;
	}
	.video-section .video-wrap .wistia_embed{ 
		height: 250px !important; 
	}
	.solutionTop-wrap{
		padding-top: 85px;
	}
	.solutionTop-wrap h1{
		font-size: 40px;
		line-height: normal;
	}
	.solutionTop-wrap h2{
		font-size: 25px;
	}
	.reach-us{
		margin: 0;
	}
	.contact-form h3, 
	.reach-us h3{
		border: none;
		padding: 0;
	}
	.section-tab{
		white-space: nowrap;
		overflow-y: auto;
	}
	.section-tab .nav a{
		margin: 0 5px !important;
	}
	.fixed-sec-tab .section-tab{
		top: 57px;
		padding: 15px 0;
	}
	.gal-list > ul > li > a:before,
	.gal-list > ul > li > a:after{
		transform: none;
		opacity: 1;
	}
	.pr-box .pr-packs span{
		letter-spacing: 1px;
		margin: 0;
	}
	.pr-box .pr-packs .price{
		font-size: 20px;
	}
	.pr-box .pr-packs > ul > li:hover .price {
	    transform: translate3d(-95px, 0, 0);
	}
	.action-pack{
		padding: 20px 10px;
	    letter-spacing: 1px;
	    font-size: 14px;
	    line-height: 30px;
	}
	.pr-table-wrap .form-wrap{
		position: static;
		text-align: left;
		margin-top: 20px;
	}
	.pr-table-wrap .form-wrap .form-control{
		width: 200px;
	}
	.col-block .inc-info ul li{
		width: 50%;
	}
	.pr-table-wrap .pr-box, .pr-table-wrap .pr-info{
		min-height: 100px;
	}
	.pr-table-wrap .pr-box{
		margin-bottom: 15px;
	}
	.vs-wrapper{
		overflow-x: hidden;
	}
	.pr-sections{
		text-align: center;
	}
	.pr-sections .pr-block{
		padding: 30px 0;
	}
	.pr-sections.real-est .img-wrap img{
		max-width: 150px;
	}
	.counter-block{
		margin-bottom: 15px;
	}
	.solutionTop-wrap .video-wrap .wistia_embed{
		height: 250px !important;
	}
}


@media only screen and (max-width:480px){
	.video-section .video-wrap{ 
		height: 200px;
	}
	.video-section .video-wrap .wistia_embed{ 
		height: 200px !important; 
	}
	.newsletter-section .form-wrap .input-wrap,
	.banner-txt-wrap .form-wrap .input-wrap{
		margin: 0;
	}
	.banner-txt-wrap .form-wrap .form-control,
	.newsletter-section .form-wrap .form-control{
		min-width: 280px; 
		width: 280px;
	}
	.banner-section{
		height: 500px;
	}
	.banner-txt-wrap .txt-inner h1{
		font-size: 40px;
	}
	.banner-txt-wrap .txt-inner h2{
		font-size: 25px;
	}
	.sponsor-section .logos-row .logo-wrap{
		width: 50%;
	}
	.site-footer{
		margin-bottom: 0;
	}
	.action-wrap .btn{
		padding: 15px 30px;
	}
	.gal-heading{
		margin: 30px 0;
	}
	.vid-filter a{
		margin: 0;
		padding: 5px 10px;
	}
	.gal-list > ul > li{
		margin: 15px 0 0;
	}
	.gal-list > ul > li > a{
		width: 100%;
	}
	.pagination-item{
		transform: none;
		border: none !important;
	}
	.pagination-link{
		transform: none;
		padding: 10px;
	}
	.col-block .inc-info ul li{
		width: 100%;
	}
	.videoSales-slider-thumbs .img-wrap{
		max-width: 45px;
	}
	.videoSales-slider-thumbs .img-wrap img{
		max-height: 45px;
	}
	.videoSales-slider-thumbs .text-wrap{
		font-size: 9px;
	}
	.swiper-button-next, .swiper-button-prev{
		transform: scale(0.6);
	}
	.swiper-button-next.swiper-button-black{
		right: -5px;
	}
	.swiper-button-prev.swiper-button-black{
		left: -5px;
	}
}






































