@charset "utf-8";
/* CSS Document */

@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

body{
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	color: #333;
}
a{
	transition: all ease-in-out 200ms;
}
.btn{
	border-radius: 0;
	transition: all ease-in-out 200ms;
}
.btn-primary{
	background: #75c7f0;
	border-color: #75c7f0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-primary:hover{
	background: #3baee6;
	border-color: #249dd8;
}
.site-header .navbar{
	margin: 0;
	border: none;
}
.site-header .navbar-brand{
    font-family: 'Grand Hotel', cursive;
    height: auto;
    font-size: 50px;
    line-height: normal;
    color: #333;
    margin-right: 30px;
}
.site-header .navbar-brand:hover{
	color: #75c7f0;
}
.site-header .navbar-nav{
	margin-top: 25px;
}
.site-header .navbar-nav > li > a{
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	color: #333;
	background: none !important;
}
.site-header .navbar-nav > li > a:hover{
	color: #75c7f0;
}


.banner-section{
	position: relative;
	height: 750px;
}
.banner-section .banner-media,
.banner-section .banner-txt-wrap{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.banner-section .banner-media img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center bottom;
}
.banner-section .banner-txt-wrap{
	z-index: 2;
	color: #fff;
}
.banner-txt-wrap .txt-inner{
	max-width: 560px;
	margin: auto;
	padding-top: 50px;
}
.banner-txt-wrap .txt-inner h1{
	font-size: 50px;
}
.banner-txt-wrap .form-wrap{
	margin-top: 30px;
}
.banner-txt-wrap .form-wrap .input-wrap{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.banner-txt-wrap .form-wrap .form-control{
	background: none;
	border: 2px solid #fff;
	border-radius: 0;
	box-shadow: none;
	min-height: 40px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
.banner-txt-wrap .form-wrap .from-msg{
	font-size: 12px;
	font-weight: 300;
	margin-top: 5px;
	text-align: left;
}

.info-blocks{
	margin: 50px 0;
}
.info-blocks .info-block{
	margin: 0 auto 15px;
	max-width: 220px;
}
.info-block .icon-holder{
	width: 100px;
	height: 100px;
	white-space: nowrap;
	margin: 0 auto 30px;
}
.info-block .icon-holder .vert-mid{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.info-block .icon-holder img{
	max-width: 100%;
	max-height: 100px;
	vertical-align: middle;
}
.info-block h4{
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.info-block p{
	color: #939598;
}

.video-section{
	margin: 50px 0;
}
.video-section .video-wrap{
	width: 800px;
	height: 450px;
	background: #000;
	margin: auto;
	position: relative;
}




















