@charset "utf-8";
/* CSS Document */

@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@font-face {
    font-family: 'signpaintermedium';
    src: url('../fonts/signpainter-housescript-webfont.woff2') format('woff2'),
         url('../fonts/signpainter-housescript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	color: #333;
}
a{
	transition: all ease-in-out 200ms;
}
.btn{
	border-radius: 0;
	transition: all ease-in-out 200ms;
}
.btn-primary{
	background: #75c7f0;
	border-color: #75c7f0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-primary:hover{
	background: #3baee6;
	border-color: #249dd8;
}
.site-header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	background: #fff;
	transition: all ease-in-out 300ms;
}
.site-header.shadow{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.site-header .navbar{
	margin: 0;
	border: none;
}
.site-header .navbar-brand{
    font-family: 'signpaintermedium', cursive;
	height: auto;
	font-size: 50px;
	line-height: 50px;
	color: #333;
	margin-right: 30px;
	padding-top: 12px;
	padding-bottom: 5px;
}
.site-header .navbar-brand:hover{
	color: #75c7f0;
}
.site-header .navbar-nav{
	margin-top: 10px;
}
.site-header .navbar-nav > li > a{
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	color: #333;
	background: none !important;
}
.site-header .navbar-nav > li > a:hover,
.active > a{
	color: #75c7f0 !important;
}
.site-header .navbar-nav > li.full-width{
	position: static;
}
.site-header .navbar-nav > li.full-width > .dropdown-menu{
	left: 0;
	right: 0;
	top: 60px;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 40px 0;
}
.dropdown-menu .container{
	padding-left: 100px;
}
.dropdown-menu .nav-col{
	float: left;
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
}
.dropdown-menu .nav-block{
	display: block;
	max-width: 140px;
	text-align: center;
	margin: 0 auto 15px;
	text-decoration: none !important;
	color: #333;
}
.dropdown-menu .nav-block .icon-holder{
	width: 50px;
	height: 50px;
	white-space: nowrap;
	margin: 0 auto 20px;
}
.dropdown-menu .nav-block .icon-holder img{
	max-width: 100%;
	max-height: 50px;
	vertical-align: middle;
}
.dropdown-menu .nav-block h4{
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
	transition: all ease-in-out 200ms;
}
.dropdown-menu .nav-block:hover h4{
	color: #75c7f0;
}
.dropdown-menu .nav-block p{
	color: #939598;
	font-size: 13px;
}
.site-header .navbar-nav.navbar-right{
	margin-top: 14px;
}
.nav-login > a{
	border: 2px solid #333;
	border-radius: 6px;
	color: #00aeef !important;
	padding: 8px 16px !important;
	font-size: 14px !important;
}
.site-header .navbar-nav > li.nav-login > a:hover{
	background: #00aeef !important;
	color: #fff !important;
}
.site-header.transparent-bg{
	background: transparent;
}
.site-header.transparent-bg .navbar-brand{
	color: #fff;
}
.site-header.transparent-bg .navbar-nav > li > a{
	color: #fff !important;
}
.site-header.transparent-bg .navbar-nav > li > a:hover{
	color: #75c7f0 !important;
}
.site-header.transparent-bg .nav-login > a{
	border-color: #fff;
}
.site-header.transparent-bg .navbar-nav > li.nav-login > a{
	border-color: #fff;
	color: #fff !important;
}

.banner-section{
	position: relative;
	height: 800px;
}
.banner-section .banner-media,
.banner-section .banner-txt-wrap,
.banner-section .banner-media:after{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.banner-section .banner-media img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}
.banner-section .banner-media:after{
	background: rgba(0,0,0,0.3);
	z-index: 2;
	content: "";
}

.banner-section .banner-txt-wrap{
	z-index: 3;
	color: #fff;
	display: flex;
	align-items: center;
	padding-top: 67px;
}
.banner-txt-wrap .txt-inner{
	max-width: 560px;
	margin: auto;
	padding-top: 100px;
}
.banner-txt-wrap .txt-inner h1{
	font-size: 50px;
}
.banner-txt-wrap .form-wrap{
	margin-top: 30px;
}
.banner-txt-wrap .form-wrap .input-wrap{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.banner-txt-wrap .form-wrap .form-control{
	background: none;
	border: 2px solid #fff;
	border-radius: 0;
	box-shadow: none;
	min-height: 40px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	width: 350px;
}
.banner-txt-wrap .form-wrap .form-control::-moz-placeholder,
.newsletter-section .form-wrap .form-control::-moz-placeholder{
  color: #fff;
  opacity: 1;
}
.banner-txt-wrap .form-wrap .form-control:-ms-input-placeholder,
.newsletter-section .form-wrap .form-control:-ms-input-placeholder{
  color: #fff;
}
.banner-txt-wrap .form-wrap .form-control::-webkit-input-placeholder,
.newsletter-section .form-wrap .form-control::-webkit-input-placeholder{
  color: #fff;
}
.banner-txt-wrap .form-wrap .from-msg{
	font-size: 12px;
	font-weight: 300;
	margin-top: 5px;
	text-align: left;
}
.banner-section.inner-page{
	height: 400px;
}
.inner-page .banner-txt-wrap .txt-inner{
	padding-left: 160px;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.inner-page .banner-txt-wrap .txt-inner p{
	font-size: 20px;
}

.info-blocks{
	margin: 50px 0;
}
.info-blocks .info-block{
	margin: 0 auto 15px;
	max-width: 220px;
}
.info-block .icon-holder{
	width: 100px;
	height: 100px;
	white-space: nowrap;
	margin: 0 auto 30px;
}
.vert-mid{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.info-block .icon-holder img{
	max-width: 100%;
	max-height: 100px;
	vertical-align: middle;
}
.info-block h4{
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.info-block p{
	color: #939598;
}

.video-section{
	margin: 50px 0;	
}
.video-section .container{
	padding-bottom: 50px;
	border-bottom: 2px solid #f5f6f6;
}
.video-section .video-wrap{
	width: 800px;
	height: 450px;
	background: #000;
	margin: auto;
	position: relative;
}

.sponsor-section{
	margin: 50px 0;
}
.sponsor-section h2{
	font-weight: 400;
}
.sponsor-section h2 strong{
	font-weight: 900;
}
.sponsor-section .logos-row{
	margin-top: 20px;
}
.sponsor-section .logos-row .logo-wrap{
	width: 20%;
	height: 100px;
	float: left;
	white-space: nowrap;
}
.sponsor-section .logos-row .logo-wrap img{
	max-width: 90%;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.newsletter-section{
	margin: 50px 0;
	padding: 40px 0;
	background: #333;
	color: #fff;
}
.newsletter-section .brand{
	font-family: 'signpaintermedium', cursive;
	font-size: 50px;
}
.newsletter-section .form-wrap{
	margin-top: 20px;
}
.newsletter-section .form-wrap h4{
	color: #c8eaf7;
	margin-bottom: 30px;
}
.newsletter-section .form-wrap .input-wrap{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.newsletter-section .form-wrap .form-control{
	background: none;
	border: 1px solid #605d5c;
	border-radius: 0;
	box-shadow: none;
	min-height: 40px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	min-width: 350px;
}
.newsletter-section .form-wrap .form-control:focus{
	border-color: #fff;
}
.newsletter-section .form-wrap .from-msg{
	font-size: 12px;
	font-weight: 300;
	margin: 10px 0 0;
	text-align: left;
}

.testimonial-section{
	margin: 50px 0;
}
.testimonial-section .testi-block{
	position: relative;
	padding-left: 70px;
}
.testimonial-section .testi-block:before{
	content: '“';
	position: absolute;
	font-size: 160px;
	color: #c7eaf6;
	left: 0;
	top: 50px;
	line-height: 0;
}
.testi-block blockquote{
	padding: 0 0 10px;
	margin: 0;
	border: none;
	font-size: 20px;
	font-weight: 500;
	max-width: 940px;
	overflow: hidden;
}
.testi-block blockquote footer{
	float: right;
	color: #333;
}
.testi-block blockquote footer:before,
.testi-block blockquote small:before{
	content: "";
}
.testi-block blockquote cite{
	font-style: normal;
}
.testi-block blockquote small{
	font-style: italic;
}


.site-footer{
	margin: 50px 0;
}
.site-footer .footer-inner{
	padding-top: 50px;
	border-top: 3px solid #f5f6f6;
}
.site-footer .footer-logo{
	font-family: 'signpaintermedium', cursive;
	font-size: 50px;
	margin-bottom: 10px;
}
.site-footer .foo-block{
	margin-bottom: 30px;
}
.site-footer .foo-block h4{
	text-transform: uppercase;
	font-weight: 900;
	margin: 0 0 10px;
	color: #646464;
}
.site-footer .foo-block ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.site-footer .foo-block ul li a{
	color: #6d6e70;
	display: inline-block;
	padding: 2px 0;
	text-decoration: none !important;
}
.site-footer .foo-block ul li a:hover{
	color: #000;
}
.foo-video{
	margin-top: 20px;
}
.foo-video .vid-row{
	height: 130px;
	margin-bottom: 10px;
}
.foo-video .vid-row:last-child{
	margin-bottom: 0;
}
.foo-video .vid-row img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Inner Page */

.products-wrap{
	margin: 0 0 50px;
}
.section-tab{
	padding: 25px 0;
	border-bottom: 3px solid #f5f6f6;
	text-align: center;
}
.section-tab ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.section-tab ul li{
	display: inline-block;
	margin: 0 20px;
}
.section-tab ul li a{
	text-transform: uppercase;
	color: #333;
	font-weight: 900;
	text-decoration: none !important;
}
.section-tab ul li a:hover,
.section-tab ul li.active a{
	color: #b2e0f7;
}
.pr-sections .pr-block{
	padding: 50px 0;
	border-bottom: 3px solid #f5f6f6;
}
.pr-sections .pr-block:last-child{
	border: none;
}
.pr-sections .pr-txt{
	max-width: 420px;
	margin-top: 50px;
}
.pr-sections .pr-txt h4{
	font-weight: 900;
	color: #b2e0f7;
}
.pr-sections .pr-txt h2{
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 25px;
}
.pr-sections .pr-txt p{
	color: #818285;
	line-height: 24px;
}
.pr-sections .pr-txt p a{
	color: #b2e0f7;
	text-decoration: underline;
}
.pr-sections .pr-txt p a:hover{
	color: #333;
}


/* Pricing */

.pricing-wrap{
	
}

.inner-page .banner-txt-wrap .pr-txt{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.inner-page .banner-txt-wrap .pr-txt h1{
	font-size: 60px;
	margin: 0 0 15px;
}
.inner-page .banner-txt-wrap .pr-txt p{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
}
.pr-table-wrap{
	background: #f2f2f2;
	padding: 50px 0;
}
.pr-table-wrap .pr-box,
.pr-table-wrap .pr-info{
	padding: 30px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border: 1px solid #e6e6e6;
	min-height: 565px;
	position: relative;
}
.pr-table-wrap .pr-box h3,
.pr-table-wrap .pr-info h3{
	text-transform: uppercase;
	margin: 0 0 10px;
}
.pr-table-wrap .pr-box p,
.pr-table-wrap .pr-info p{
	margin-bottom: 30px;
	color: #7d7d7d;
}
.pr-box .pr-packs > ul{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #e6e6e6;
}
.pr-box .pr-packs > ul > li{
	padding: 20px;
	border-bottom: 1px solid #e6e6e6;
	transition: all ease-in-out 200ms;
}
.pr-box .pr-packs > ul > li:last-child{
	border: none;
}
.pr-box .pr-packs > ul > li:hover{
	background: #f9f9f9;
}
.pr-box .pr-packs span{
	margin-top: 5px;
	letter-spacing: 2px;
	color: #7d7d7d;
}
.pr-box .pr-packs span strong{
	font-size: 18px;
	color: #000;
}
.pr-box .pr-packs .price{
	font-size: 25px;
	font-weight: 400;
	color: #75c7f0;
}


.pr-table-wrap .pr-info{
	padding: 30px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border: 1px solid #e6e6e6;
}
.pr-info .btn{
	position: absolute;
	right: 30px;
	top: 30px;
}
.info-list p{
	font-weight: 500;
	font-size: 18px;
	color: #333 !important;
	margin-bottom: 20px !important;
}
.info-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.info-list ul li{
	padding: 8px 8px 8px 25px;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}
.info-list ul li:last-child{
	border-bottom: none;
}
.info-list ul li:before{
	width: 15px;
	height: 15px;
	background: url(../images/tick.svg) no-repeat;
	background-size: 15px auto;
	position: absolute;
	left: 0;
	top: 10px;
	content: "";
}
.pr-info .pr-total{
	position: absolute;
	width: 150px;
	height: 150px;
	background: #75c7f0;
	border-radius: 100%;
	right: -40px;
	bottom: -20px;
	text-align: center;
	color: #fff;
	letter-spacing: 3px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.pr-info .pr-total strong{
	font-size: 50px;
	display: block;
	padding-top: 25px;
}
.pr-table-wrap .pr-msg{
	margin-top: 30px;
	font-size: 18px;
	color: #7d7d7d;
}
.pr-table-wrap .pr-msg a{
	color: #333;
	text-decoration: underline;
}
.pr-table-wrap .pr-msg a:hover{
	color: #75c7f0;
}

.credit-work{
	margin: 50px 0;
}
.credit-work .heading{
	margin-bottom: 50px;
}
.credit-work .heading h2{
	margin: 0 0 10px;
}
.credit-work .heading p{
	color: #7d7d7d;
}
.col-block{
	max-width: 1050px;
	margin: 0 auto 50px;
	border: 1px solid #75c7f0;
	box-shadow: 0 0 50px rgba(0,0,0,0.15);
}
.col-block .bk-header{
	background: #f2f2f2;
	padding: 15px 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.col-block.standard .bk-header{
	background: #75c7f0;
}

.col-block.premium{
	border-color: #f0a921;
}
.col-block.premium .bk-header{
	background: #f0a921;
}
.col-block .bk-header h3{
	margin: 0;
	font-weight: 300;
}
.col-block .bk-header .cr-count{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
}
.col-block .bk-body{
	padding: 30px;
}
.col-block .inc-info{
	margin-bottom: 30px;
}
.col-block .inc-info h4{
	margin: 0 0 15px;
}
.col-block .inc-info ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.col-block .inc-info ul li{
	display: inline-block;
	position: relative;
	padding: 5px 5px 5px 30px;
	width: 33%;
	vertical-align: top;
}
.col-block .inc-info ul li:before{
	width: 20px;
	height: 20px;
	border: 1px solid #6DCC1B;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 5px;
	content: "";
}
.col-block .inc-info ul li:after{
	width: 10px;
	height: 10px;
	position: absolute;
	background: url(../images/tick.svg) no-repeat;
	background-size: 10px auto;
	left: 5px;
	top: 10px;
	content: "";
}
.col-block .vid-cols h4{
	font-weight: 300;
	color: #7d7d7d;
	margin: 0 0 15px;
}
.col-block .vid-cols h4 strong{
	font-weight: 500;
	color: #333;
}
.col-block .vid-cols .vid-block{
	margin-bottom: 15px;
}
.col-block .vid-cols .vid-block .thumb{
	height: 170px;
	padding: 5px;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	margin-bottom: 15px;
}
.col-block .vid-cols .vid-block .thumb img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}



































